th{
    background-color: #cfcfcf;
    padding: 10px;
    border-bottom: solid black 1px;
}

tr{
    text-align: center;
}

tr:hover{
    background-color: #94adff !important;
}

tr:nth-child(2n+1){
    background-color: #EEEEEE;
}
.iframe{
    margin-left: 62%;
    margin-top: -170px;
}